* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E7E0C9;
    min-height: 70vh;
    box-sizing: border-box;
    color: hsl(198, 1%, 29%);
    font-size: 130%;
    font-family: "McLaren", cursive;
}
header {
    background-color: #11324D;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
  
header h1 {
    color: #E7E0C9;
    font-weight: 200;
}
.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.selectGame{
    margin: auto;
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #C1CFC0;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.selectGameGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 2fr;
    gap: 15px;
}

.selectGame h2{
    /* display: block; */
    color: #6B7AA1;
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.selectGame button {
    font-size: 1.5rem;
    height: 3rem;
    width: 8rem;
    background: #11324D;
    color: #E7E0C9;
    border-radius: 25%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.selectGame p{
    background-color: #E7E0C9;
    margin-left: 0.5rem;
    height: 15rem;
    width: 13rem;
    border-radius: 15%;
    color: #11324D;
    font-size: 1.5rem;
}
.firstGame{
    grid-area: 1/1/3/2;
}
.secondGame{
    grid-area: 1/2/3/3;
}

footer {
    background-color: #11324D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}
footer p {
    color: #E7E0C9;
}
